<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!--
      Turn off ModSecurity (Plesk/IIS WAF) for this site.
      It intercepts ONVO checkout POSTs and 3DS callbacks as false positives
      (403/406 "ModSecurity Action"), so card confirmation never completes.
    -->
    <ModSecurity enabled="false" />
    <modules>
      <remove name="ModSecurityIIS" />
      <remove name="ModSecurity IIS" />
    </modules>
    <rewrite>
      <rules>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="./index.html" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
  </system.webServer>
</configuration>
